.rounded-border {
    border: 2px solid #a9d9f5; /* 테두리 스타일과 색상 설정 */
    border-radius: 15px; /* 둥근 테두리 설정 */
    padding: 5px; /* 테두리와 내용 사이의 간격 설정 */
    display: inline-block; /* 인라인 요소로 표시하여 텍스트와 같은 줄에 표시 */
    background-color: #d2ecfd;
    color: black; /* 글자 색상을 블랙으로 설정 */
}