@charset "UTF-8";

body {
	background-color: #edf1f3;
}

#meetingroom {
	left: 500px;
	top: 100px;
}

.btn {
	border: 1px solid black;
	background-color: lightblue;
	margin-top: 10px;
	width: 180px;
	height: 90px;
}

#mtrh {
	color: black;
	font-weight: bold;
	margin-bottom: 100px; 
}


#room {
	left: 300px;
	position: absolute;
	height: 800px;
	width: 200px;
	text-align: center;
	background-color: white;
	
}

#mtrh2 {
	margin-bottom:150px;
	font-weight: bold;
}

textarea {
    width: 100%;
    height: 6.25em;
    resize: none;
  }
  
#modal {
	text-align: justify;
}

#reservation {
	background-color: white;
	height: 800px;
	width: 1000px;
	margin-left: 600px;
	text-align: center;
}

#res {
	border: 1px solid black;
	background-color: lightblue;
}

#mtrh3 {
}

table {
	border: 2px solid black;
	height: 500px;
}

td {
	width: 100px;
	height: 50px;
	text-align: center;
	border-bottom: 1px solid gray;
}
