<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties" />
	<typeAliases>
		<typeAlias type="vo.EmpVO" alias="empvo" />
		<typeAlias type="vo.MeetingVO" alias="meetingVO" />
	</typeAliases>
	<environments default="dev">
		<environment id="dev">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
				<property name="poolMaximumActiveConnections" value="2" /><!-- 활성화된 최대 커넥션 수 -->
				<property name="poolMaximumIdleConnections" value="2" /><!-- 유휴상태에서 최대 커넥션 수 -->
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mappers/employee.xml" />
		<mapper resource="mappers/meetingroom.xml" />
	</mappers>
</configuration>